{
  "extends": ["@nuxtjs"],
  "plugins": ["@typescript-eslint"],
  "parserOptions": { "parser": "@typescript-eslint/parser" },
  "rules": {
    "@typescript-eslint/no-unused-vars": "error",
    "no-unused-vars": "off",
    "semi": ["error", "always"],
    "space-before-function-paren": ["error", "never"],
    "vue/singleline-html-element-content-newline": [
      "error",
      { "ignoreWhenNoAttributes": true }
    ]
  }
}
